
body {
	background-color: #5b5555;
}

.headbox {
    position: fixed;
		background-color: #5b5555;
		color: white;
		justify-content: center;
		flex-direction: column;
		margin: 0px;
		padding:0px;
		margin-top: -80px;
		width: 100%;
    z-index:1000;
}
		.headbox a {
			color: white;
			margin: 0px;
			padding: 0px;
		}

		.headbbox h3 {
		    text-align: center;
				margin: 0px;
				padding: 0px;
		}

		ul.menu {
				list-style-type: none;
				display: flex;
  			flex-direction: row;
				margin: 0px;
				padding:0px;
		}
		ul.menu li {
				list-style-type: none;
				list-style: none;
				text-align: center;
				flex-grow: 2;
				margin: 10px;
				padding: 0px;
		}


.titlebox {
		background-color: white;
		justify-content: center;
		display: flex;
/*		margin-top: 100px;
		margin: 40px;
		padding:30px;*/
		margin: 10px;
		padding:30px;
		margin-top: 80px;

}

	.title_container {
		  display: flex;
		  align-items: center;
			flex-direction: column;
			background-color: #00acc1;
			color: white;
			width: 100%;
			padding:30px;
	}

		.titlebox h1 {
		    text-align: center;
		}

.personaldata {
  display: flex;
	justify-content: center;
	background-color: #5b5555;
	flex-grow: 2;
	/* ustify-content: space-between; */
}
		.personalpic_container {
				background-color: #ffffff;
				color: #5b5555;
				margin: 10px;
				padding:30px;
		}

		.personalextra_container {
				background-color: #ffffff;
				color: #5b5555;
				margin: 10px;
				padding:30px;
				display: flex;
   			flex: 2 0 0;
		}
		.personaldata_container {
				background-color: #00acc1;
				color: white;
				padding:30px;
		}
		.personaldata_container ul {
				list-style-type: none;
				list-style: none;
			  display: flex;
				display: block
		}

.mainbox {
  display: flex;
	justify-content: center;
	background-color: #5b5555;
	flex-grow: 2;
}
.timeline_container {
		background-color: #ffffff;
		color: #5b5555;
		margin: 10px;
		padding:30px;
}
.skills_container {
		width: 800px;
		background-color: #ffffff;
		color: #5b5555;
		margin: 10px;
		padding:30px;
}
.skillsbox {
	  display: flex;
	  align-items: center;
		flex-direction: column;
}

.skillsbox_section {
	  display: flex;
	  align-items: center;
		flex-direction: column;
		background-color: #00acc1;
		color: white;
		margin: 10px;
		padding:30px;
		width: 100%;
}

svg.fillgauge {
		height="1500px"
}

.flipletter {
/*		-moz-transform: scaleX(-1);
	  -o-transform: scaleX(-1);
	  -webkit-transform: scaleX(-1);
	  transform: scaleX(-1);         */
		display: inline-block;
	  vertical-align: top;
	  transform: scaleX(-1); /* Or also:   rotateY(180deg) */
	  -ms-filter: fliph;
	  filter: fliph;
}
ul.flip {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		margin: 0px;
		padding:0px;
}
li.flip {
		list-style-type: none;
		list-style: none;
		flex-grow: 2;
		margin: px;
		padding: 0px;
		display: inline-block;
		vertical-align: center;
		transform: scaleX(-1); /* Or also:   rotateY(180deg) */
		-ms-filter: fliph;
		filter: fliph;
}
li.flop {
		list-style-type: none;
		list-style: none;
		flex-grow: 2;
		margin: px;
		padding: 0px;
		display: inline-block;
		vertical-align: center;
}
