
body {
	background-color: #5b5555;
}
div.headbox {
	background-color: #00acc1;
	color: white;
	margin: 10px;
	padding:30px;
	justify-content: center;
}
div.personaldata {
  display: flex;
	background-color: white;
	color: #5b5555;
	margin: 10px;
	padding:30px;
}
div.personaldata ul {
		list-style-type: none;
		list-style: none;
}
div.mainbox {
  display: flex;
	justify-content: center;
	background-color: #5b5555;
}
div.container {
		width: 1000px;
		background-color: #ffffff;
		color: #5b5555;
		margin: 10px;
		padding:30px;
}

div.skillsbox {
	width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
}
