
body {
	background-color: #5b5555;
}
div.headbox {
		background-color: white;
		justify-content: center;
		margin: 10px;
		padding:30px;
}
div.headb_container {
		background-color: #00acc1;
		color: white;
		padding:30px;
}

		div.headb_container h1 {
		    text-align: center;
		}

div.personaldata {
  display: flex;
	justify-content: center;
	background-color: #5b5555;
	flex-grow: 3;
	/* ustify-content: space-between; */
}
		div.personalpic_container {
				background-color: #ffffff;
				color: #5b5555;
				margin: 10px;
				padding:30px;
		}
		div.personaldata_container {
				background-color: #ffffff;
				color: #5b5555;
				margin: 10px;
				padding:30px;
		}
				div.personaldata_container ul {
						list-style-type: none;
						list-style: none;
					  display: flex;
						display: block
				}
		div.personalextra_container {
				background-color: #ffffff;
				color: #5b5555;
				margin: 10px;
				padding:30px;
				display: flex;
   			flex: 2 0 0;
		}
div.mainbox {
  display: flex;
	justify-content: center;
	background-color: #5b5555;
	flex-grow: 2;
}
div.timeline_container {
		background-color: #ffffff;
		color: #5b5555;
		margin: 10px;
		padding:30px;
}
div.skills_container {
		width: 800px;
		background-color: #ffffff;
		color: #5b5555;
		margin: 10px;
		padding:30px;
}
div.skillsbox {
	  display: flex;
	  align-items: center;
		flex-direction: column;
}

div.skillsbox_section {
	  display: flex;
	  align-items: center;
		flex-direction: column;
		background-color: #00acc1;
		color: white;
		margin: 10px;
		padding:30px;

}

svg.fillgauge {
		height="150"
}
